frontend/build/static/html/workitem/workitem_list.html

<table class="table table-striped">
  <thead>
    <tr>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Исполнитель</th>
      <th>Этап</th>
      <th>Задача</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in workitem">
      <td>{{ item.date_start|date:'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ item.date_end|date:'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ item.user_name }}</td>
      <td>{{ item.stage_name }}</td>
      <td>{{ item.description }}</td>
    </tr>
  </tbody>
</table>
<formly-form model="newWork" fields="fields" form="form">
  <!--.alert.alert-danger(ng-repeat="(name, errs) in errors")-->
  <!--  strong {{ name }}-->
  <!--  |: {{ errs.join(', ') }}-->
  <button ng-disabled="form.$invalid" ng-click="save()" class="btn btn-success">Add</button>
</formly-form>

frontend/app/jade/workitem/workitem_list.jade
table.table.table-striped
  thead
    tr
      th Дата начала
      th Дата окончания
      th Исполнитель
      th Этап
      th Задача
  tbody
    tr(ng-repeat="item in workitem")
      td {{ item.date_start|date:'dd.MM.yyyy HH:mm' }}
      td {{ item.date_end|date:'dd.MM.yyyy HH:mm' }}
      td {{ item.user_name }}
      td {{ item.stage_name }}
      td {{ item.description }}

formly-form(model="newWork", fields="fields", form="form")
  //.alert.alert-danger(ng-repeat="(name, errs) in errors")
  //  strong {{ name }}
  //  |: {{ errs.join(', ') }}
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Add
