frontend/app/jade/client/client_list.jade
table.table.table-striped
  thead
    tr
      th Имя
  tbody
    tr(ng-repeat="client in clients")
      td {{ client.name }}


formly-form(model="newClient", fields="fields", form="form")
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Добавить клиента

frontend/build/static/html/client/client_list.html

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients">
      <td>{{ client.name }}</td>
    </tr>
  </tbody>
</table>
<formly-form model="newClient" fields="fields" form="form">
  <button ng-disabled="form.$invalid" ng-click="save()" class="btn btn-success">Добавить клиента</button>
</formly-form>
