frontend/build/static/html/base.html

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a ng-href="{{'base' | routeSegmentUrl}}" class="navbar-brand">Valenki</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: ('base.work' | routeSegmentStartsWith)}"><a href="#" ng-href="{{'base.work' | routeSegmentUrl}}">Work</a></li>
        <li ng-class="{active: ('base.clients' | routeSegmentStartsWith)}"><a href="#" ng-href="{{'base.clients' | routeSegmentUrl}}">Clients</a></li>
        <li ng-class="{active: ('base.projects' | routeSegmentStartsWith)}"><a href="#" ng-href="{{'base.projects' | routeSegmentUrl}}">Projects</a></li>
        <li ng-class="{active: ('base.stages' | routeSegmentStartsWith)}"><a href="#" ng-href="{{'base.stages' | routeSegmentUrl}}">Stages</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{ user }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div app-view-segment="1"></div>
</div>

frontend/app/jade/base.jade
.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(ng-href="{{'base' | routeSegmentUrl}}") Valenki
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="{active: ('base.work' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.work' | routeSegmentUrl}}") Work
        li(ng-class="{active: ('base.clients' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.clients' | routeSegmentUrl}}") Clients
        li(ng-class="{active: ('base.projects' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.projects' | routeSegmentUrl}}") Projects
        li(ng-class="{active: ('base.stages' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.stages' | routeSegmentUrl}}") Stages
      ul.nav.navbar-nav.navbar-right
        li {{ user }}

.container
  div(app-view-segment="1")
