frontend/build/static/html/stage/stage_list.html

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Проект</th>
      <th>Стоимость этапа</th>
      <th>Стоимость часа</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stage in stages">
      <td>{{ stage.name }}</td>
      <td>{{ stage.project_name }}</td>
      <td>{{ stage.value_stage }} {{ stage.valuta_name }}</td>
      <td>{{ stage.hourly_rate }} {{ stage.valuta_name }}</td>
    </tr>
  </tbody>
</table>
<formly-form model="newStage" fields="fields" form="form">
  <button ng-disabled="form.$invalid" ng-click="save()" class="btn btn-success">Add</button>
</formly-form>

frontend/app/jade/stage/stage_list.jade
table.table.table-striped
  thead
    tr
      th Название
      th Проект
      th Стоимость этапа
      th Стоимость часа
  tbody
    tr(ng-repeat="stage in stages")
      td {{ stage.name }}
      td {{ stage.project_name }}
      td {{ stage.value_stage }} {{ stage.valuta_name }}
      td {{ stage.hourly_rate }} {{ stage.valuta_name }}


formly-form(model="newStage", fields="fields", form="form")
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Add
